@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Food for Food</h1>
				<h6 class=""><i>A Bastion for Indecisive, but Hungry, Individuals</i></h6>
</div>
