@page
@model FoodForFood.Pages.TodayModel
@{
				ViewData["Title"] = "Today's Food";
}

<div class="text-center">
    <h4>This is where food for today will be dispalyed</h4>
				<h6 class="">smaller text</h6>
</div>
