@page
@model FoodForFood.Pages.WeekModel
@{
				ViewData["Title"] = "Week's Preview";
}

<div class="text-center">
    <h4>This is where a preview of the food for the week will be dispalyed</h4>
				<h6 class="">smaller text</h6>
</div>
